  <div id="Header">
      <h1>Products</h1>
    </div>
  <div id="Leftbox"></div>
  <div id="Middlebox">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div></br>
    <% end %>
<table>
  <tr>
    <th>Name (
      <%= link_to(image_tag("icons/arrow_down.png"), params.merge(:sort_by => 'name', :sort_direction => 'DESC'))%>
      <%= link_to(image_tag("icons/arrow_up.png"), params.merge(:sort_by => 'name', :sort_direction => 'ASC'))%>)
    </th>
    <th>Price (
      <%= link_to(image_tag("icons/arrow_down.png"), params.merge(:sort_by => 'price', :sort_direction => 'DESC'))%>
      <%= link_to(image_tag("icons/arrow_up.png"), params.merge(:sort_by => 'price', :sort_direction => 'ASC'))%>)
    </th>
    <th>Desire (
      <%= link_to(image_tag("icons/arrow_down.png"), params.merge(:sort_by => 'desire', :sort_direction => 'DESC'))%>
      <%= link_to(image_tag("icons/arrow_up.png"), params.merge(:sort_by => 'desire', :sort_direction => 'ASC'))%>)
    </th>
    <th>Added (
      <%= link_to(image_tag("icons/arrow_down.png"), params.merge(:sort_by => 'created_at', :sort_direction => 'DESC'))%>
      <%= link_to(image_tag("icons/arrow_up.png"), params.merge(:sort_by => 'created_at', :sort_direction => 'ASC'))%>)
    </th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= number_to_currency(product.price)%></td>
      <td><%= product.desire %></td>
      <td><%="#{time_ago_in_words(product.created_at)} ago "%></td>
      <td id=icons>
        <%= link_to(image_tag("icons/information.png"), research_product_path(product)) %>
        <%= link_to(image_tag("icons/page_edit.png"), edit_product_path(product)) %>
        <%= link_to(image_tag("icons/cancel.png"), product_path(product), :method => :delete, :confirm => "Are you sure you want to permanently delete the #{product.name} wish?") %>
      </td>
    </tr>
  <% end %>
</table>
<p><%= link_to("Add product", new_product_path) %></p>

  </div>
    <div id="Rightbox"></div>
    <div id="Footer">
    Copyright 2011 - Made by Somnie  
  </div>